/* 
    Created on : 17 ก.ค. 2558, 17:23:21
    Author     : Monthira
*/


.grid-view {
    text-align: center;
}
.grid-view .summary{
    text-align: left;
}
.grid-view .table{
    text-align: left;
}
.grid-view .pagination{
    margin-top: 0;
}
